@{
    ViewData["Title"] = "Từ chối truy cập";
}

<div class="text-center mt-5">
    <h3>Bạn không có quyền truy cập vào trang này!</h3>
    <a href="/" class="btn btn-primary mt-3">Quay lại trang chủ</a>
</div>
